.navigation-bar ul{ 
display: flex;
justify-content: center;
gap: 150px;
}

.navigation-bar ul li{
list-style: none;
}
.navigation-bar ul li a{
text-decoration: none;
color: #e91e63;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100%;
  background-color: rgba(59, 120, 80, 0.3);

}

.container {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 500px;
padding-block: 50px;
}


.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.form-group select {
  width: 103.8%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 103.8%;
}

button:hover {
background-color: #e91e63;;
}
